*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blue;
        background-image: linear-gradient(to bottom, blue, white, lightblue);
}
.contenedor {
    width: 100%;
}
/* barra de nav */
.barra{
    background-color: blue;
        background-image: linear-gradient(220deg, blue, white, lightblue);
        font-size: 30px;
}
.barra a{
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

/* fin */
header {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: blue;
        background-image: linear-gradient(to bottom,white, lightblue, blue);
}
/* header inicio */
header p {
    font-size: 30px;
    text-align: right;
    color: white;
    animation-name: p;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes p {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

article {
    width: 50%;
    margin-left: 25%;
}

section {
    width: 80%;
    margin-left: 10%;
}

h2 {
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.kinesio {
    height: 300px;
    background-image: url(./img/kinesio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    display: flex;
    align-items: center;
}

.kin {
    margin-left: 30%;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-duration: 1s;
    color: rgb(4, 39, 10);
    animation-name: k;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes k {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nutri {
    height: 300px;
    background-image: url(./img/nutricion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    display: flex;
    align-items: center;
}

.nutr {
    margin-left: 30%;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-duration: 2s;
    color: rgb(4, 39, 10);
    animation-name: k;
    animation-delay: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.esteti {
    height: 300px;
    background-image: url(./img/estetica.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    display: flex;
    align-items: center;
}

.est {
    margin-left: 30%;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation-duration: 3s;
    color: rgb(4, 10, 99);
    animation-name: k;
    animation-delay: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
/* pag somos */
.somos1{
    background-image: url(./img/);
}

.wasap {
    height: 80px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 3px;
    font-size: 30px;
    border-radius: 50%;
    color: rgb(3, 51, 3);
}
/* mobil */
@media screen and (max-width: 320px){
    .barra{
        width: auto;
    }
    header{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 18px;
    }
}
